#app {
    height: 100%
}

.ant-layout-base {
    position: relative;
    height: 100%
}

.ant-layout-base .ant-layout-main,.ant-layout-main-base {
    transition: all .3s ease;
    overflow: auto;
    height: 100%
}

.ant-layout-base .ant-layout-main {
    margin-left: 224px
}

.ant-layout-base .ant-layout-main-collapse {
    margin-left: 64px;
    transition: all .3s ease;
    overflow: auto;
    height: 100%
}

.ant-layout-base .ant-layout-container {
    margin: 24px 16px;
    background: #fff;
    padding: 24px
}

.ant-layout-base .ant-layout-tab {
    margin: 8px;
    background: #fff
}

.ant-layout-base .ant-layout-tab-text {
    font-size: 12px
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    margin-top: -1px;
    width: 2px;
    margin-left: -1px
}